{% extends "layout.njk" %}

{% block content %}
  <h1>Password Required</h1>
  <form action="/unlock/{{ id }}" method="POST">
    <label for="password">Enter password</label>
    <input type="password" name="password" id="password" required />
    <button type="submit">Unlock</button>
  </form>
{% endblock %}
