{% extends "layout.njk" %}

{% block content %}
  <h1>This was your message:</h1>
  <article><p>{{ message }}</p></article>
  <p><strong>Note:</strong> This message has now been destroyed.</p>
{% endblock %}
